<div class="container">
    <div style="padding-left:40px;padding-top:20px;">
        <span class="heading-text backgrnd-hdng">&nbspDownload&nbsp</span>
    </div>
    <div class="col-xs-12 col-sm-8">
        <p style="padding-left:30px;padding-top:20px;"><i>Sublime Text 3 is the current version of Sublime Text. For bleeding-edge releases, see the <a style="text-decoration:underline">dev builds</a>.</i></p>

        <div style="padding-left:30px;">
            <div style="border:1px solid #ddd;">
                <p style="padding:5px 5px;">&nbspVersion: Build 3143</p>
                <ul>
                    <li><a class="anchor-text">OS X</a> (10.7 or later is required)</li>
                    <li><a class="anchor-text">Windows</a> - also available as a <a class="anchor-text">portable version</a></li>
                    <li><a class="anchor-text">Windows 64 bit</a> - also available as a <a class="anchor-text">portable version</a></li>
                    <li><a class="anchor-text">Linux repos</a> - also available as a <a class="anchor-text">64 bit or <a class="anchor-text">32 bit tarball</a></li>
                </ul>
            </div>
        </div>
        <p style="padding-left:30px;">
            <i>
                Sublime Text may be downloaded and evaluated for free, however a license must be <a class="anchor-text">purchased</a> for continued use. There is
                <br /> currently no enforced time limit for the evaluation.
            </i>
        </p>
    </div>
    <div class="col-xs-12 col-sm-4" style="padding-top:20px;">
        <p>For notification about new releases, <br />follow <a class="anchor-text">@sublimehq</a> on twitter.</p>
        <h4 style="color: #777;">OTHER DOWNLOADS</h4>
        <ul class="listItms">
            <li><a class="anchor-text">Dev Builds</a></li>
            <li><a class="anchor-text">Sublime Text 2</a></li>
        </ul>
    </div>
    <div class="col-xs-9" style="padding-left:50px;">
        <h3 style="color: #777;">Change Log</h3>
        <div style="padding:20px;border-top:1px solid #ddd; width:97%;">
            <span><a class="anchor-text">DEV BUILD 3154</a></span><br /><i>11 November 2017</i>
        </div>
        <div style="padding:20px; border-top:1px solid #ddd; width:97%;">
            <a class="anchor-text">DEV BUILD 3153</a><br /><i>1 November 2017</i>
        </div>
        <div style="padding:20px; border-top:1px solid #ddd; width:97%;">
            <a class="anchor-text">DEV BUILD 3152</a><br /><i>14 September 2017</i>
        </div>
        <div style="padding:20px; border-top:1px solid #ddd; width:97%;">
            <a class="anchor-text">DEV BUILD 3150</a><br /><i>20 October 2017</i>
        </div>
        <div style="padding:20px; border-top:1px solid #ddd; width:97%;">
            <a class="anchor-text">DEV BUILD 3149</a><br /><i>17 October 2017</i>
        </div>
        <div style="padding:20px; border-top:1px solid #ddd; width:97%;">
            <a class="anchor-text">DEV BUILD 3148</a><br /><i>13 October 2017</i>
        </div>
        <div style="padding:20px; border-top:1px solid #ddd; width:97%;">
            <a class="anchor-text">DEV BUILD 3147</a><br /><i>10 October 2017</i>
        </div>
        <div style="padding:20px;border-top:1px solid #ddd; width:97%;">
            <a class="anchor-text">DEV BUILD 3144</a><br /><i>6 October 2017</i>
        </div>
        <div style="border-left: 3px solid #A8B3C2;border-bottom:1px solid #ddd;">
            <div style="padding:20px;border-top:1px solid #ddd; width:97%;">
                3.0 (BUILD 3143)<br /><i>6 October 2017</i>
            </div>
            <p style="padding-left:20px;">See also the Announcement Post</p>
            <ul>
                <li>Refreshed UI theme, including full high DPI support</li>
                <li>New icon</li>
                <li>Added alternate theme, Adaptive, that inherits colors from the color scheme</li>
                <li>Windows: Added touch input</li>
                <li>Mac: Support for custom color window title bars on OS X 10.10+</li>
                <li>Many other syntax highlighting improvements</li>
                <li>Many other syntax highlighting improvements</li>
                <li>Many other syntax highlighting improvements</li>
                <li>Many other syntax highlighting improvements</li>
                <li>Many other syntax highlighting improvements</li>
                <li>Many other syntax highlighting improvements</li>
                <li>Various bugs with the syntax highlighting engine have been resolved</li>
                <li>Various bugs with the syntax highlighting engine have been resolved</li>
                <li>Various bugs with the syntax highlighting engine have been resolved</li>
                <li>Fixed several crash issues</li>
                <li>Refreshed UI theme, including full high DPI support</li>
                <li>New icon</li>
                <li>Added alternate theme, Adaptive, that inherits colors from the color scheme</li>
                <li>Windows: Added touch input</li>
                <li>Mac: Support for custom color window title bars on OS X 10.10+</li>
                <li>Many other syntax highlighting improvements</li>
                <li>Many other syntax highlighting improvements</li>
                <li>Many other syntax highlighting improvements</li>
                <li>Many other syntax highlighting improvements</li>
                <li>Many other syntax highlighting improvements</li>
                <li>Many other syntax highlighting improvements</li>
                <li>Various bugs with the syntax highlighting engine have been resolved</li>
                <li>Various bugs with the syntax highlighting engine have been resolved</li>
                <li>Various bugs with the syntax highlighting engine have been resolved</li>
                <li>Fixed several crash issues</li>
                <li>Refreshed UI theme, including full high DPI support</li>
                <li>New icon</li>
                <li>Added alternate theme, Adaptive, that inherits colors from the color scheme</li>
                <li>Windows: Added touch input</li>
                <li>Mac: Support for custom color window title bars on OS X 10.10+</li>
                <li>Many other syntax highlighting improvements</li>
                <li>Many other syntax highlighting improvements</li>
                <li>Many other syntax highlighting improvements</li>
                <li>Many other syntax highlighting improvements</li>
                <li>Many other syntax highlighting improvements</li>
                <li>Many other syntax highlighting improvements</li>
                <li>Various bugs with the syntax highlighting engine have been resolved</li>
                <li>Various bugs with the syntax highlighting engine have been resolved</li>
                <li>Various bugs with the syntax highlighting engine have been resolved</li>
                <li>Fixed several crash issues</li>
          </ul>
        </div>
        <div style="padding:20px;width:97%;">
            BUILD 3126<br /><i>23 September 2016</i>
            <ul>
                <li>Added Indexing Status to the Help menu to give more information about what the indexer is doing</li>
                <li>Fixed a compatibility issue with some third party syntax definitions that include<kbd> JavaScript.sublime-<br />syntax</kbd></li>
                <li>Reduced the default number of worker processes used for indexing. This can be manually controlled via the <br /><kbd>index_workers</kbd>setting</li>
                <li>API: Updated OpenSSL to 1.0.2i</li>
            </ul>
        </div>
    </div>
</div>
