<div class="text-center heading col-xs-12">
    <span class="heading-text">&nbsp A sophisticated text editor for code, markup and prose &nbsp</span>
    <br />
    <ul class="dwnldtxt">
        <li class="downloadBtn">DOWNLOAD FOR WINDOWS</li>
        <li>Sublime Text 3 <i>(Build 3143)</i></li>
        <li style="text-decoration: underline;">Changelog</li>
    </ul>
    <div><img src="Capture.PNG" class="img-responsive center-block" /></div>
</div>
<div class="text-center">
    <span class="features">&nbsp; Some features our users <i>love</i>: &nbsp;</span>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h4>GOTO ANYTHING</h4>
            <p>
                Use Goto Anything to open files with only a few keystrokes, and instantly
                <br />jump to symbols, lines or words.
            </p>
            <p>
                Triggered with
                <button>Ctrl</button>+
                <button>P</button>, it is possible to:
            </p>
            <ul>
                <li>Type part of a file name to open it.</li>
                <li>
                    Type
                    <kbd>@</kbd> to jump to symbols,
                    <kbd>#</kbd> to search within the file, and : to go to a line number.
                </li>
            </ul>
            <p>
                These shortcuts can be combined, so
                <kbd>tp@rf</kbd> may take you to a function
                <br />read_file within a file text_parser.py. Similarly,
                <kbd>tp:100</kbd> would take
                <br />you to line 100 of the same file.
            </p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h4>GOTO DEFINITION</h4>
            <p>
                Using information from syntax definitions, Sublime Text automatically
                <br />generates a project-wide index of every class, method and function. This
                <br />index powers Goto Definition, which is exposed in three different ways:
            </p>
            <ul>
                <li>A popup is displayed when hovering over a symbol</li>
                <li>
                    Pressing
                    <button>F12</button> when the caret is on a symbol
                </li>
                <li>The Goto Symbol in Project functionality</li>
            </ul>
            <p>
                Symbol indexing can be customized on a per-syntax basis via
                <br />configuration files, allowing users to tailor the feature to their needs.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h4>MULTIPLE SELECTIONS</h4>
            <p>
                Make ten changes at the same time, not one change ten times. Multiple
                <br />selections allow you to interactively change many lines at once, rename
                <br />variables with ease, and manipulate files faster than ever.
            </p>
            <p>
                Try pressing
                <button>Ctrl</button>+
                <button>Shift</button>+
                <button>L</button> to split the selection into lines and Ctrl+
                <br />D to select the next occurrence of the selected word. To make multiple
                <br />selections with the mouse, take a look at the Column Selection
                <br />documentation.
            </p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h4>COMMAND PALETTE</h4>
            <p>
                The Command Palette holds infrequently used functionality, like sorting,
                <br />changing the syntax and changing the indentation settings. With just a
                <br />few keystrokes, you can search for what you want, without ever having to
                <br />navigate through the menus or remember obscure key bindings.
            </p>
            <p>
                Show the <i>Command Palette</i> with
                <button>Ctrl</button>+
                <button>Shift</button>+
                <button>P</button>.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h4>POWERFUL API AND PACKAGE ECOSYSTEM</h4>
            <p>
                Sublime Text has a powerful, Python API that allows plugins to augment
                <br />built-in functionality.
            </p>
            <p>
                Package Control can be installed via the command palette, providing
                <br />simple access to thousands of packages built by the community.
            </p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h4>CUSTOMIZE ANYTHING</h4>
            <p>
                Key bindings, menus, snippets, macros, completions and more - just about
                <br />everything in Sublime Text is customizable with simple JSON files. This
                <br />system gives you flexibility as settings can be specified on a per-file type
                <br /> and per-project basis.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h4>SPLIT EDITING</h4>
            <p>
                Get the most out of your wide screen monitor with split editing support.
                <br />Edit files side by side, or edit two locations in the one file. You can edit
                <br />with as many rows and columns as you wish. Take advantage of multiple
                <br /> monitors by editing with multiple windows, and using multiple splits in
                <br /> each window.
            </p>
            <p>
                Take a look at the
                <kbd>View <span>&#x25B6;</span> Layout</kbd> menu for split editing options. To open
                <br />multiple views into the one file, use the
                <kbd>File <span>&#x25B6;</span> New View into File</kbd> menu
                <br /> item.
            </p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h4>INSTANT PROJECT SWITCH</h4>
            <p>
                Projects in Sublime Text capture the full contents of the workspace,
                <br />including modified and unsaved files. You can switch between projects in a
                <br />manner similar to Goto Anything, and the switch is instant, with no save
                <br /> prompts - all your modifications will be restored next time the project is
                <br /> opened
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h4>PERFORMANCE</h4>
            <p>
                Sublime Text is built from custom components, providing for unmatched
                <br />responsiveness. From a powerful, custom cross-platform UI toolkit, to an
                <br />unmatched syntax highlighting engine, Sublime Text sets the bar for
                <br /> performance.
            </p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h4>CROSS PLATFORM</h4>
            <p>
                Sublime Text is available for Mac, Windows and Linux. One license is all
                <br />you need to use Sublime Text on every computer you own, no matter what
                <br />operating system it uses.
            </p>
            <p>
                Sublime Text uses a custom UI toolkit, optimized for speed and beauty,
                <br /> while taking advantage of native functionality on each platform.
            </p>
        </div>
    </div>
</div>