<div class="container">
    <div class="main-div col-xs-12 col-sm-9">
        <div class="news-heading col-xs-9"><span class="heading-text backgrnd-hdng">&nbspSupport&nbsp</span></div>
        <div class="col-xs-12">
            <p>Something not working right? Pop in to the <a class="anchor-text">Technical Support</a> forum to get it sorted.</p>
            <p>For sales questions, see the <a class="anchor-text">Sales FAQ</a> or contact <a class="anchor-text"> sales@sublimetext.com.</a></p>
            <p>To find a lost license key, see the <a class="anchor-text">License Key Retrieval</a> page.</p>
        </div>
        <div class="col-xs-12">
        <h3 class="documentation-heading">Documentation</h3>
            <ul class="listItms">
                <li><a class="anchor-text">Sublime Text 3</a> documentation index</li>
                <li><a class="anchor-text">Sublime Text Unofficial Documentation</a></li>
                <li><a class="anchor-text">Sublime Text Power User Book</a></li>
                <li><a class="anchor-text">Perfect Workflow in Sublime Text 2</a> is a video course with tutorials covering many aspects of Sublime Text 2 and 3.</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h3 class="documentation-heading">Sublime Text 2</h3>
            <ul class="listItms">
                <li><a class="anchor-text">Sublime Text 2</a> documentation index</li>
                <li><a class="anchor-text">Sublime Text Unofficial Documentation</a></li>
                <li><a class="anchor-text">Perfect Workflow in Sublime Text 2</a> is a video course with tutorials covering many aspects of Sublime Text 2</li>
            </ul>
        </div>
    </div>
</div>